<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{rootPath}}css/spectre.min.css">
    <link rel="stylesheet" href="{{rootPath}}css/style.css">
</head>
<body>
    <header class="container grid-960 navbar">
    <section></section>
      <section class="navbar-section navbar-center">
        <a class="navbar-brand" href="{{rootPath}}"><img src="{{rootPath}}images/redback.png" class="logo"/></a>
        <a href="{{rootPath}}" class="navbar-brand"><span class="red">red</span>backup <span class="sub">{{slogan}}</span></a>
      </section>
    </header>
  <section class="container grid-960">
